* {
  background-repeat: no-repeat;
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
strong {
  font-weight: 600;
}
header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 22px;
}
.header-link {
  font-size: 16px;
  color: black;
}
.ad-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url('./acer.jpg');
}
.ad-video {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-image: url('./acer.jpg');
}
.banner-backdrop {
  width: 100%;
  height: 100vh;
}
.banner-content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}
.banner-content-title {
  /* mix-blend-mode: color-dodge; */
  mix-blend-mode: screen; 
  display: flex;
  align-items: flex-end;
  margin: 0;
  width: 100%;
  height: calc(90vh - 280px);
  background-color: white;
  text-transform: uppercase;
  text-align: right;
  font-weight: 600;
  line-height: 140px;
  font-size: 10em;
  color: black;
}
.banner-content-title::after {
  content: " ";
  margin-right: 22px;
}
.banner-content-detail {
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
  height: calc(100vh - 440px);
  background-color: white;
  text-align: right;
}
.detail-text {
  margin: 22px 0;
  width: 50%;
  height: fit-content;
}
.text-highlight {
  font-size: 36px;
}